<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664370531688-ohjr2n6peeg10b02e9jerkshshn02k9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664370531688-ohjr2n6peeg10b02e9jerkshshn02k9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDIse-87orUDie1NcTTbALJJwoC4UBKfJM</string>
	<key>GCM_SENDER_ID</key>
	<string>664370531688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivatinker.PixEngineTestGame</string>
	<key>PROJECT_ID</key>
	<string>pixengine-test</string>
	<key>STORAGE_BUCKET</key>
	<string>pixengine-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664370531688:ios:7e68c877010d2698e2dadd</string>
	<key>DATABASE_URL</key>
	<string>https://pixengine-test.firebaseio.com</string>
</dict>
</plist>